.notfound {
    background-color: #f2f6ff !important;
    padding: 20px;
    width: calc(100% + 4px);
    transform: translateX(-2px);
    display: flex;
    justify-content: center;
}
.notfound .image {
    background-color: #f2f6ff !important;
    padding: 30px;
    width: 600px;
}
@media (max-width:992px) {
    .notfound .image {

    }
}